* {
    box-sizing: border-box;
}

body {
    background-color: rgb(170, 167, 167);
}
.container {
    background-color:#eee;
    margin-top: 20px;
    border: 2px solid #343a40;
    border-radius: 8px;
}

h1, ul{
    text-align: center;
    color: cadetblue;
}

p {
    text-align: justify;
    font-size: 18px;
}

/* .image {
    margin-bottom: 5px;
} */

.jumbotron {
    background-color: cadetblue;
    text-align: center;
    color: #eee;
}
.display-4 {
    color: #eee;
}

.lead {
    text-align: center;
}

